<header id="header" class="header d-flex align-items-center sticky-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center">

    <a routerLink="/users/home" class="logo d-flex align-items-center me-auto">

      <h1 class="sitename">Mentor</h1>
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a routerLink="/users/home">Home<br></a></li>
        <li><a routerLink="/users/about">About</a></li>
        <li><a routerLink="/users/courses">Courses</a></li>
        <li><a routerLink="/users/trainers">Trainers</a></li>
        <li><a routerLink="/users/pricing">Pricing</a></li>
       </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    <a class="btn-getstarted" routerLink="/users/courses">Get Started</a>


    <button id="nameBtn" value="Mohamed elhossiny"></button>
    <input type="button" value="">
  </div>
</header>
