<header id="header" class="header d-flex align-items-center sticky-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center">

    <a routerLink="/home" class="logo d-flex align-items-center me-auto">

      <h1 class="sitename">Mentor</h1>
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a routerLink="/home">Home<br></a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/courses">Courses</a></li>
        <li><a routerLink="/trainers">Trainers</a></li>
        <li><a routerLink="/pricing">Pricing</a></li>
       </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    <a class="btn-getstarted" routerLink="/courses">Get Started</a>

  </div>
</header>
